body {
  background-image: url(../images/Background-3.jpg);
  background-repeat: no-repeat;
  z-index: -1;
  image-rendering: -webkit-optimize-contrast;
}

/* Hello */

.input {
  text-align: center;
  color: black;
  float: inline-end;
  margin-top: 15px;
  width: 200px;
  margin-left: 50px;
}
#budgetID{
  height: 450px;
  width: 300px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, .5)
}

#budgetButton {
  margin-left: 75px;
  margin-top: 10px;
}

label {
  color: red;
  font-weight: bold;
}

#logo {
  width: 100px;
  height: auto;
}

#img-rest {
  background-image: url(../images/Restaurant.png);
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#list {
  margin: 0;
}

#search-input {
  margin: 0;
}

.c-white {
  color: white;
}
div{
  position:absolute;
  width:20px;
  height:20px;
}
#box1
{
 border:1px solid red;
 right:50%;
}   
#box2
{
  border:1px solid purple;
  top:30%;
  right:10%;
}
#box3
{
  border:1px solid orange;
  top:30%;
  left:10%;
}
#box4
{
  border:1px solid red;
  top:60%;
  right:10%;
}
#box5
{
  border: 1px solid green;
  top:60%;
  left:10%
}
#box6
{
  border:1px solid red;
  top:90%;
  right:50%;
}

.bg-nightclub {
  background: url('../images/nightclubs.jpg') no-repeat center 20%;
  background-size: cover;
}

.bg-sports {
  background: url('../images/sports1.jpg') no-repeat center ;
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* background-size: 100% 100% */
}

.bg-history {
  background-image: url('../images/history.jpg');
  background-position: 60% ;
  background-size: 1080px auto;
  padding: 70px 90px 120px 90px;

}
.historyinherit{
  background: inherit;
  position: absolute;
  box-shadow: 0 0 32px rgba(0,0,0,0.5)
  
  
}
.tile-text .text-center .h1{
  padding: 16px;
}

.bg-weather {
  background: url('../images/weather.png') center;
  
}

.bg-entertainment {
  background-image: url('../images/entertainment.jpg');

}

.bg-restaurant {
  background-image: url('../images/restaurant.jpg');
}

.tile {
  height: 25vh;
  display: flex;
  vertical-align: 50%;
}

.top-bar {
  height: 10%;
  margin-bottom: 20px;
}

.list-container {
  border: 2px solid white;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
}

#list li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#list li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}


@media only screen and (max-width: 39.9375em) {
  .tile {
    height: 18vh;
  }
}


