body {
  background-image: url(../images/Background-3.jpg);
  background-repeat: no-repeat;
  z-index: -1;
  image-rendering: -webkit-optimize-contrast;
}

/* Hello */

.input {
  text-align: center;
  color: black;
  float: inline-end;
  margin-top: 15px;
  width: 200px;
  margin-left: 50px;
}
#budgetID{
  height: 450px;
  width: 300px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, .5)
}

#budgetButton {
  margin-left: 75px;
  margin-top: 10px;
}

label {
  color: red;
  font-weight: bold;
}

#logo {
  width: 100px;
  height: auto;
}

#img-rest {
  background-image: url(../images/Restaurant.png);
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.c-white {
  color: white;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-white {
  background-color: white;
}

.bg-green {
  background-color: green;
}

.bg-orange {
  background-color: orange;
}

.bg-purple {
  background-color: purple;
}

.tile {
  height: 25vh;
  display: flex;
  vertical-align: 50%;
}

.top-bar {
  height: 10%;
  margin-bottom: 20px;
}

.list-container {
  border: 2px solid white;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
}

#list li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#list li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

@media only screen and (max-width: 39.9375em) {
  .tile {
    height: 18vh;
  }
}